<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mis478.popcornapp"
    android:versionCode="17"
    android:versionName="0.4.6" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/appicon"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name=".Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CustomerInfo"
            android:label="@string/title_activity_customer_info">
        </activity>
        <activity
            android:name=".ScoutGoal"
            android:label="@string/title_activity_scout_goal">
        </activity>
        <activity
            android:name=".DeliveryMode"
            android:label="@string/title_activity_delivery_mode">
        </activity>
        <activity
            android:name=".PastSales"
            android:label="@string/title_activity_past_sales">
        </activity>
        <activity
            android:name=".DenLeaderMain"
            android:label="@string/title_activity_DenLeaderMain">
        </activity>
        <activity
            android:name=".DenSalesTracking"
            android:label="@string/title_activity_den_sales_tracking">
        </activity>
        <activity
            android:name=".ViewScouts"
            android:label="@string/title_activity_view_scouts">
        </activity>
        <activity
            android:name=".ScoutStatusPage"
            android:label="@string/title_activity_scout_status_page">
        </activity>
        <activity
            android:name=".ScoutMainPage"
            android:label="@string/title_activity_scout_main_page">
        </activity>
        <activity
            android:name=".DeliveryCustomerInfo"
            android:label="@string/title_activity_delivery_customer_info">
        </activity>
        <activity
            android:name=".Donation"
            android:label="@string/title_activity_donation">
        </activity>
        <activity
            android:name=".OrderFinalization"
            android:label="@string/title_activity_order_finalization">
        </activity>
        <activity
            android:name=".AdminFunctions"
            android:label="@string/title_activity_admin_functions">
        </activity>
        <activity
            android:name=".AddScout"
            android:label="@string/title_activity_add_scout">
        </activity>
        <activity
            android:name=".AddProduct"
            android:label="@string/title_activity_add_product">
        </activity>
        <activity
            android:name=".DenGoal"
            android:label="@string/title_activity_den_goal">
        </activity>
        <activity
            android:name=".SellProducts"
            android:label="@string/title_activity_sale_products">
        </activity>
        <activity
            android:name=".DenSalesItems"
            android:label="DenItems">
        </activity>
    </application>

</manifest>
